* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  display: block;
  width: 100%;
  max-width: 550px;
  margin: 10px auto;
  padding: 80px 40px;
  background-color: #1F2937;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 1.1px;
}
.title .g-title {
  color: #4ADF86;
}

.tagline {
  font-size: 1.2em;
  font-weight: 300;
  margin: 10px 0 5px 0;
  letter-spacing: 1px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}
@media (max-width: 530px) {
 .wrapper {
  flex-direction: column;
  gap: 10px;
 } 
}

.options {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
}

.slider {
  width: 145px;
  height: 18px;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  overflow: hidden;
  opacity: 0.8;
  transition: opacity .2s;
  border-radius: 20px;
  cursor: pointer;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-runnable-track {
  height: 18px;
  background: #273549;
  border-radius: 20px;
}
.slider::-moz-range-track {
  height: 18px;
  background: #273549;
  border-radius: 20px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #4ADF86;
  border-radius: 50%;
  box-shadow: -100px 0 0 90px #4ADF86;
}
.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #4ADF86;
  border-radius: 50%;
  box-shadow: -100px 0 0 90px #4ADF86;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  opacity: 0.8;
  transition: opacity .2s;
}
.switch:hover {
  opacity: 1;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #273549;
  border-radius: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 0px;
  background-color: #fff;
  border: 2px solid #4ADF86;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .switch-slider {
  background-color: #4ADF86;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #4ADF86;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.switch-wrapper {
  display: flex;
  font-size: 0.9em;
  font-weight: 300;
  margin: 4px 0;
}
.switch-wrapper p {
  width: 95px;
}

#generate-btn {
  width: 220px;
  padding: 10px 18px;
  border: 0;
  border-radius: 5px;
  background-color: #10B981;
  transition: background-color .2s;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px #1F2937;
  cursor: pointer;
}
#generate-btn:hover {
  background-color: #16cc8f;
}

.passwords {
  width: 100%;
  padding: 50px 0 10px 0;
  border-top: 2px solid #273549;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 530px) {
  .passwords {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

.password {
  width: 220px;
  height: 45px;
  background-color: #273549;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
  line-height: 2.6;
  color: #4ADF86;
}
@media (max-width: 530px) {
  .password {
    width: 100%;
  }
}

.active-pass {
  cursor: pointer;
}
.active-pass:hover {
  opacity: 90%;
}
.active-pass:active {
  opacity: 75%;
  scale: 0.98;
}

#click-to-copy {
  text-align: center;
  font-weight: 100;
}
#click-to-copy:hover {
  cursor: default;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0 0 10px 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.social-links > li {
  list-style: none;
  padding: 0 8px;
  display: flex;
}
.social-links > li > a {
  text-decoration: none;
}
.social-links > li > a > img {
  width: 25px;
  transition: transform 0.2s ease;
}
.social-links > li > a > img:hover {
  transform: scale(1.2);
}